
.footer {
    background-color:var(--primary-color);
    padding: 2.5rem;
    text-align: center;
    border-top-right-radius: 1rem;
  }
  
  .footer-list-item-inline .link {
    color: var(--white-color);
    text-align: center;
  }
  
  .footer-header {
    color: var(--white-color);
    font-weight: bold;
    font-size: 1.5rem;
  }

  .footer-list-non-bullet li{
    display: inline;
    padding: 1rem;
  }

  .footer ul {
    padding-inline-start: 0px;
  }
  
